@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3 ,nav {
  font-family: 'Montserrat', sans-serif;
}

